@keyframes moveStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100vw 0;
  }
}

.background-purple {
  display: flex;
  background-color: var(--purple);
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.sky-flex {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-repeat: repeat-x;
  background-size: 200vw 100%;
  animation: moveStars 120s linear infinite;
}

.sky-left-flex,
.sky-middle-flex,
.sky-right-flex {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sky-middle-flex,
.sky-right-flex {
  justify-content: center;
  align-items: center;
}

.sky-right-flex {
  justify-content: start;
  align-items: end;
  margin-right: 10px;
  margin-top: 20px;
}

.sky-left-flex {
  justify-content: start;
  align-items: start;
}

.grass-flex {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.moon-image {
  width: 120px;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
}

.sheep-gif {
  width: 350px;
  height: auto;
  margin-bottom: 40px;
  margin-left: 60px;
}

.fence {
  width: 100px;
  height: auto;
  position: absolute;
}
